.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  @media screen and (min-width:768px) {
      width: 70%;
    
  }
  
  & .video-title {
    margin: 50px auto;
    font-size: 40px;
    letter-spacing: 10px;
  }
  & .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    width: 80%;
    & iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
